<div class="manette-container">
    <table #manette class="manette">
        <tr (click)="updateSpeed(3)">
            <td class="position">
                3
            </td>
        </tr>
        <tr (click)="updateSpeed(2)">
            <td class="position">
                2
            </td>
        </tr>
        <tr (click)="updateSpeed(1)">
            <td class="position">
                1
            </td>
        </tr>
        <tr (click)="updateSpeed(0)">
            <td class="position">
                0
            </td>
        </tr>
        <tr (click)="updateSpeed(-1)">
            <td class="position">
                R
            </td>
        </tr>
    </table>
    <div class="curseur" [style.transform]="updateTranslation()"></div>
</div>