<div class="pilotage-container">
  <div class="ui-container">
    <div #uiControls class="ui-controls">
    <gouvernail [size]="gaugeSize" [value]="fnDirection()"></gouvernail>
    <ngx-gauge type="arch" thick="10" [min]="speedMinValue" [max]="speedMaxValue" duration="1" label="Moteur" append="%" [value]="fnSpeed()" [size]="gaugeSize" [thresholds]="gaugeMotorthresholdsConfig"></ngx-gauge>
    </div>
    <div class="separator"></div>
    <virtual-joystick #stick id="stick" (onChange)="update($event)"></virtual-joystick>
  </div>
</div>