.gouvernail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    

    .aiguille-container {
        position: absolute;
        z-index: 2;
        border-style: solid;
        border-left-color: orange;
        border-right-color: orange;
        border-top-color: green;
        border-width: 5px 5px 0 5px;

        .aiguille {
            position: absolute;
            z-index: 4;
            height: 100%;
            width: 1%;
            background-color: red;
            left: 49%;
            transform-origin: 50% 100%;
        }

        .aiguille-base {
            position: absolute;
            z-index: 4;
            height: 15%;
            width: 7.5%;
            left: calc(50% - (7.5% / 2));
            bottom: -7.5%;
            border-radius: 50%;
            background-color: red;

            .aiguille-centre {
                position: absolute;
                z-index: 5;
                height: 50%;
                width: 50%;
                left: 25%;
                top: 25%;
                border-radius: 50%;
                background-color: white;
            }
        }
    }
}

