.gouvernail {
    height: 300px;
    width: 300px;
    left: calc(50% - 150px);
    bottom: -150px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    background-color: #d0d0d0;
    position: fixed;
}
