<div class="gouvernail-container"
    [style.width.px]="size"
    [style.height.px]="size">
    <div [style.width.px]="size" [style.height.px]="size/2">
        <div class="aiguille-container" 
            [style.borderTopLeftRadius.px]="size/2"
            [style.borderTopRightRadius.px]="size/2"
            [style.width.px]="size"
            [style.height.px]="size/2">
            <div class="aiguille" [style.transform]="updateAiguilleRotation()"></div>
            <div class="aiguille-base">
                <div class="aiguille-centre"></div>
            </div>
        </div>
    </div>
    <h6>Direction</h6>
</div>
